body {
    background-image: url(../FotosEstilo/liquid.jpg);
}

header {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.panelBusqueda {
    float:left;
   margin:3px 0 0 0;
   top:400px;
   position:absolute;
}
#divLogo {
   margin:0 auto;
    justify-content: center;
}
#marca {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 45px;
}
#celdaProducto {
   
    overflow: hidden;
}
#logo {
    width: 200px;
}

#slogan {
   text-align:center;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
}
#contenedor1 {
    overflow: hidden;
}

#divMenu {
    width: 600px;
    text-align: center;
    float:left;
    
    
}
#categoria {
    width: 180px;
    margin: 0 auto auto 30px;
    float: left;
}
#contenido {
    width: 1110px;
    margin: 0 auto;
    float:right;
}
#barraNavegacion
{
    width:1200px;
    margin: 0 auto;

}
#menu {
    list-style: none;
    float: left;
    text-align: center;
}

.liMenu {
    width: 150px;
    border: 2px solid #186BF2;
    border-radius: 10px 10px;
    background-color: #4689F4;
    display: inline-block;
}

.navegador {
    color: antiquewhite;
    text-decoration: none;
}


#divLogin {
    width: 600px;
    float:right;
}

#div {
    color: white;
    float: left;
}

#footer {
    color: white;
}

.labelregistro {
    color: white;
}

#cuadroData {
   
    color: white;
}
#dropSeleccion {
display:block;
}
#puser {
    color: white;
    text-align:center;
}
.categoriasM {
    list-style:none;
    text-decoration:none;
    color: white;
    text-align:center;
    margin:0 0 4px 0;
    width: 200px;
    border: 2px solid #186BF2;
    border-radius: 10px 10px;
    background-color: #A830C0;
}
.saludo
{
    color: azure;
    font: 600 20px italic;
}

#LabelDatos {
    bottom: 5px;
    position:fixed;
}
.foto{
    width:200px;
}
.LabelTotal {
    color: white;
    background-color: #37A9FF ;
   font-size: 30px;
    border-radius: 10px;
    border: solid 2px #4500F2;
}
.datosLogin{
    display:inline-block;
    width:150px;
}
