<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="proyecto_progra4ConnectionString" connectionString="Data Source=DESKTOP-3DJ3N69\DBCARLOS;Initial Catalog=proyecto_progra4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PcfastoryConnectionString" connectionString="Data Source=DESKTOP-3DJ3N69\DBCARLOS;Initial Catalog=Pcfastory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
